p1{
    text-align: center;
}
img.img1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    height: auto;
}

img.oroszlan{
    width: 20%;
    height: auto;
}
img.madar{
    width: 20%;
    height: auto;
}
img.kigyo{
    width: 20%;
    height: auto;
}